body {	
	font-family: Futura, Verdana, sans-serif;
	color: #f0f0f0;
}

 #map{
	 height: 100%;
	 width: 75%;
	 display: inline-block;
	 float: left;
     }

 #infobox {
	height: 100%;
	width: 25%;
	display: inline-block;
	float: right;
	background-color: #404040;
	border-radius: 10px;	
}

#infobox h1, h3 {
	padding: 10px;
}


#infobox a {
	text-align: center;
}

#search-box {
	width: 40%;
	margin-left: auto;
	margin-right: auto;
}

#page-info-box {
	text-align: center;
	width: 50%;
	margin: 0 auto;
	padding-top: 10%;
}

.centered {
	text-align: center;
}

a {
	font-weight: bold;
	color: #2eb82e;
	text-decoration: none;	
}