.leaflet-container .leaflet-control-search {
	position:relative;
	float:right;
	background:#fff;
	color:#33cc33;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	background-color: rgba(255, 255, 255, 0.8);
	z-index:1000;	
	/*box-shadow: 0 1px 7px rgba(0,0,0,0.65);*/
	margin-left: 10px;
	margin-top: 10px;
}
.leaflet-control-search.search-exp {/*expanded*/
	/*box-shadow: 0 1px 7px #999;*/
	background: #fff;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
}
.leaflet-control-search .search-input {
/*	display:block;
	float:left;
	background: #fff;
	border:1px solid #666;
	border-radius:2px;
	height:18px;
	padding:0 18px 0 2px;
	margin:3px 0 3px 3px;*/

    padding-right: 3px;
    padding-right: 4px \9;
    padding-left: 3px;
    padding-left: 4px \9;

    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.leaflet-control-search.search-load .search-input {
	background: url('images/loader.gif') no-repeat center right #fff;
}
.leaflet-control-search.search-load .search-cancel {
	visibility:hidden;
}
.leaflet-control-search .search-cancel {
	display:block;
	width:22px;
	height:18px;
	position:absolute;
	right:40px;
	margin:6px 0;
	background: url('../images/search-icon.png') no-repeat 0 -46px;
	text-decoration:none;
	filter: alpha(opacity=80);
	opacity: 0.8;
	z-index: 9;		
}
.leaflet-control-search .search-cancel:hover {
	filter: alpha(opacity=100);
	opacity: 1;
}
.leaflet-control-search .search-cancel span {
	display:none;/* comment for cancel button imageless */
	font-size:18px;
	line-height:20px;
	color:#ccc;
	font-weight:bold;
}
.leaflet-control-search .search-cancel:hover span {
	color:#aaa;
}

.leaflet-control-search .search-button{
    border: 0;
    background:none;

    margin-top: 2px;
    position: relative;

    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color:#337ab7;
}

/*.leaflet-control-search .search-button {
	display: inline-block;
	float:left;
	width:26px;
	height:26px;	
	background: url('../images/search-icon.png') no-repeat 2px 2px #fff;
	border-radius:4px;
}
.leaflet-control-search .search-button:hover {
	background: url('../images/search-icon.png') no-repeat 2px -22px #fafafa;
}*/
.leaflet-control-search .search-tooltip {
	position:absolute;
	top:100%;
	left:0;
	right: 0;
	float:left;
	list-style: none;
	padding-left: 0;
	min-width:120px;
	max-height:122px;
	box-shadow: 1px 1px 6px rgba(0,0,0,0.4);
	background-color: rgba(0, 0, 0, 0.25);
	z-index:1010;
	overflow-y:auto;
	overflow-x:hidden;
	cursor: pointer;

}
.leaflet-control-search .search-tip {
	margin:2px;
	padding:2px 4px;
	display:block;
	color:black;
	background: #eee;
	border-radius:.25em;
	text-decoration:none;	
	white-space:nowrap;
	vertical-align:center;

}
.leaflet-control-search .search-tip-select,
.leaflet-control-search .search-tip:hover,
.leaflet-control-search .search-button:hover {
	background-color: #f4f4f4;
}
.leaflet-control-search .search-alert {
	cursor:pointer;
	clear:both;
	font-size:1em;
	margin-bottom:5px;
	padding:0 .25em;
	color:#e00;
	font-weight:bold;
	border-radius:.25em;
	
	right:70px;
	margin:45px;
	position: absolute;
	white-space:nowrap;
}

.leaflet-control-search .search-exp .leaflet-control {
	border-radisu: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}
