#mapConfig {
    display:none;
}

#newRequirements{
  display: none;
}

#color-scheme{
  display: none
}

metricErrors.error{
  color: red;
  padding: 5px;
}

#ramps {
  padding: 0 5px;
}

#singlehue { display: none; max-width: 78px; }

#scheme1 {
  float: left;
  margin-right: 5px;
  overflow: hidden;
}

.ramp {
  float: left;
  padding: 5px 5px 0 5px;
  cursor: pointer;
}

.ramp:hover {
  background-color: #ccc;
}

.ramp.selected {
  background-color: #999;
}

.ramp rect, #color-chips rect {
  stroke: #333;
  stroke-width: .5px;
}

#addingMetrics{
  display: none;
}

.header-nav {
  border-radius:0;
  -webkit-border-radius:0;
  -moz-border-radius:0;
  margin-bottom: 0;
  font-size:20px;
}

ul.nav {
  width:100%;
  margin:0 auto;
  padding:0;
  list-style:none;
  text-align:center;
}

.nav li{
  display: inline-block;
  width: 33%;
  margin: 0;
  padding: 0;
}

.nav li a{
  text-align: center;
  font-size: 30;
  margin: 0;
  display: block;
}

.navbar-inverse .navbar-nav li a{
  color: #E2E1D9;
}

.navbar-inverse .navbar-nav li a:hover{
  color: white;
}

#website-title {
  font-size: 70;
  font-size: 4vw;
  text-align: center;
}

/* Color metrics */
.palette {
  cursor: pointer;
  display: inline-block;
  vertical-align: bottom;
  margin: 4px 0 4px 6px;
  padding: 4px;
  background: #fff;
  border: solid 1px #aaa;
}

.palette:hover {
  background-color: #999999;
}

.swatch {
  display: block;
  vertical-align: middle;
  width: 37px;
  height: 22px;
}

h1 {
  color: #9275d8;
}

h2 {
  font-size: 45;
  font-size: 2.8vw;
}

h3 {
  color: #E8953E;
  font-size: 33;
  font-size: 2.5vw;
  margin: 0.25em 0;
}

#uploadFile,
#submitFile {
    display: none;
}

@font-face{
  font-family: "GeosansLight";
  src: url(../fonts/GeosansLight.ttf) format("truetype");
}

button,
input,
optgroup,
select,
textarea,
body {
  font-family: "GeosansLight";
  font-weight: bolder;
}

body {
  background-color: #E2E1D9;
}

h1, h2, h3, h4, h5, h6 {
  color: #000000;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.navButtons {
    margin-left: 4rem;
    margin-right: 4rem;
}

label {
  display: block;
  margin-bottom: 0.05cm;
  font-size: 1.1em;
}

.btn-generateMap {
  background-opacity: .75;
  color: #eee;
  background-color: rgba(34, 34, 34, .75);
  border-color: rgba(12, 12, 12, .75);
}

.btn-generateMap:hover {
  color: #eee;
  background-color: rgba(78, 78, 78, .75);
  border-color: rgba(56, 56, 56, .75);
}

.btn-generateMap:active, .btn-generateMap.active,
.show > .btn-generateMap.dropdown-toggle {
  color: #fff;
  background-color: #E2E1D9;
  background-image: none;
  border-color: #E2E1D9;
}

.btn-addVisualization {
  background-opacity: .75;
  color: #eee;
  background-color: rgba(34, 34, 34, .75);
  border-color: rgba(12, 12, 12, .75);
}

.btn-addVisualization:hover {
  color: #eee;
  background-color: rgba(78, 78, 78, .75);
  border-color: rgba(56, 56, 56, .75);
}

.btn-addVisualization:active, .btn-addVisualization.active,
.show > .btn-addVisualization.dropdown-toggle {
  color: #fff;
  background-color: #E2E1D9;
  background-image: none;
  border-color: #E2E1D9;
}

.panel-data {
  background-opacity: .75;
  border-color: rgba(12, 12, 12, .75);
}

.panel-data > .panel-heading {
  background-opacity: .75;
  background-color: rgba(34, 34, 34, .75);
  border-color: rgba(12, 12, 12, .75);
  color: #FFFFFF;
}