<h2>Adding Qualitative Metric to Map ${map_name}</h2>
<table>
    <tr>
        <td><p>Metric name: </p></td>
        <td><input type="text" name="metric_name"></td>
    </tr>
    <tr>
        <td><p>Column(s): </p></td>
        <td>${columns}</td>
    </tr>
    <tr>
        <td><p>Color code (from qualitative colorbrewer palettes): </p></td>
        <td><input type="text" name="color_palette"></td>
    </tr>
    <tr>
        <td><p>Neutral color: </p></td>
        <td><input type="text" name="neutral_color"></td>
    </tr>
    <tr>
        <td><input type="submit" value="Submit"></td>
    </tr>
</table>